ion-grid {
  border: 2px solid #d8dcdf;
  border-radius: 10px;
  padding: 10px;
}
ion-row {
  margin: 5px;
}
.col_uno {
  border-right: 1px solid #d8dcdf;
}
.label_uno {
  font-size: 25px;
  font-weight: 400;
}
.label_dos {
  font-size: 20px;
  font-weight: 400;
  color: #ababab;
}
.label_tres {
  font-size: 18px;
  font-weight: 400;
}
.label_cuatro {
  font-size: 18px;
  font-weight: 400;
  color: #664bc4;
}
.linea {
  border-top: 1px solid #d8dcdf;
}
