ion-segment {
  border-bottom: 0px !important;
}
ion-segment-button {
  --color: #000;
  --color-checked: #664bc4;
}
.linea {
  background-color: #d8dcdf;
  width: 100%;
  height: 1px;
  margin-top: 5px;
}