ion-content {
  --background: transparent;
  text-align: center;
}
ion-label {
  font-size: 17px;
  color: white;
}
ion-progress-bar {
  --background: white;
  --buffer-background: white;
  --progress-background: #ef4567;
}
