<app-header-padre [tabs]="true"></app-header-padre>
<ion-content>
  <ion-grid class="grid" routerLink="/tabs/cartera">
    <ion-row>
      <ion-col class="col1">
        <img src="assets/tabs/tabs/carteraf.png" class="imgicon" />
      </ion-col>
      <ion-col class="col2">
        <ion-label>{{'Wallet'}}</ion-label>
      </ion-col>
      <ion-col class="col3">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-etixcash-menu
    *ngIf="tipo_id == 'TODOS' || tipo_id == 'I-CARD'"
  ></app-etixcash-menu>
  <!-- <app-my-items></app-my-items> -->
  <!-- <app-mis-eventos-c></app-mis-eventos-c> -->
  <app-mis-vouchers *ngIf="tipo_user == 4"></app-mis-vouchers>
  <app-ayuda-menu></app-ayuda-menu>
  <!-- <app-nos-califica-menu-c></app-nos-califica-menu-c> -->
  <app-crear-cuenta-profesional-menu-c></app-crear-cuenta-profesional-menu-c>
  <app-informacion-legal-menu-c></app-informacion-legal-menu-c>
  <app-carta-etica></app-carta-etica>
</ion-content>
