<ion-content>


  <div class="contenedor">

    <div class="contenedor-uno">
      <ion-icon name="close-sharp" class="iconclose" (click)="salir_sin_argumentos()"></ion-icon>    
      <div class="div-label">
        <label class="label">Possiedeun negozio</label><br>
        <p>
          Creare un account professionale gratuitamente per avere ancora
          più clienti ed essere visualizzati sulla nostra mappa
        </p>
      </div> 
      <img src="assets/tabs/menu/componentes/crear_cuenta_profesional/tiendas.png" class="img"> 
      <div class="bgopacity">
        <button class="bgbutton" (click)="crear_cuenta_empresarial()">Crea un conto business</button>
      </div>

    </div>

    <div class="contenedor-dos">
   
      <div class="div-label">
        <label class="label">Sei un esperto?</label><br>
        <p>
          Creare un account professionale gratuitamente per avere ancora
          più clienti ed essere visualizzati sulla nostra mappa
        </p>
      </div> 
      <img src="assets/tabs/menu/componentes/crear_cuenta_profesional/profesionales.png" class="img"> 
      <div class="bgopacity">
        <button class="bgbutton" (click)="crear_cuenta_profesional()">Crea un conto business</button>
      </div>

    </div>

  </div>


</ion-content>
