ion-card {
  height: 120px;
  margin: 10px;
  border-radius: 15px !important;
  margin-bottom: 17px !important;
  box-shadow: 0px 0px 9px -4px rgb(173, 173, 173);
}
.row_info {
  max-height: 120px;
}
.col_img {
  max-width: 115px;
}
.img_vouchers {
  height: 120px;
  width: 100%;
  object-fit: cover;
}
.col_info {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
}
.div_uno {
  width: 100%;
  height: 20px;
  display: flex;
}
.label_uno {
  color: rgb(240, 71, 105);
  font-size: 14px;
  font-weight: 400;
  width: 120px;
  margin-right: calc(100% - 120px - 80px);
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: -webkit-box;
}
.label_dos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 80px;
}
.label_dos div {
  padding: 3px;
  background-color: #000;
  border-radius: 3px;
  color: #fff !important;
  font-size: 11px;
  font-weight: 400;
}
.div_dos {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label_tres {
  color: #000;
  font-size: 11px;
  font-weight: 400;
  width: 120px;
}
.div_tres {
  position: absolute;
  display: flex;
  left: 5px;
  bottom: 8px;
  width: 100%;
  height: 20px;
}
.label_cuatro {
  color: #000;
  font-size: 17px;
  font-weight: 400;
}
.label_quinto {
  color: #000;
  font-size: 13px;
  font-weight: 400;
}
.div_cuatro {
  line-height: 0.65;
}
.div_cinco {
  background-color: #664bc4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  right: 5px;
  bottom: -2px;
  height: 35px;
  border-radius: 9px;
  width: 100px;
}
