<app-header-padre [page]="true"></app-header-padre>
<ion-content>
  
  <ion-list>
    <form (ngSubmit)="cambiar_password()" [formGroup]="formulario">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="{{'CURRENTPASSWORD' | translate}}" [formControl]="formulario.controls.old_password" name="old_password" type="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="{{'NEWPASSWORD' | translate}}" [formControl]="formulario.controls.new_password" name="new_password" type="password"></ion-input>
            <ion-label *ngIf="!formulario.controls.new_password.valid && formulario.controls.new_password.value.length >= 6" class="label_error">{{'THEPASSWORDMUST' | translate}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="{{'REENTERNEWPASSWORD' | translate}}" [formControl]="formulario.controls.re_new_password" name="re_new_password" type="password"></ion-input>
            <ion-label *ngIf="formulario.controls.re_new_password.value != formulario.controls.new_password.value && formulario.controls.re_new_password.value.length >= 6" class="label_error">
              {{'BOTHPASSWORDS' | translate}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button type="submit" [disabled]="!formulario.valid || formulario.controls.re_new_password.value != formulario.controls.new_password.value">{{'CHANGEPASSWORD2' | translate}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
</ion-content>