ion-content {
  --background: rgb(245, 247, 250);
}
ion-list {
  border-bottom: 2px solid #d8dcdf;
}
ion-input {
  --placeholder-color: rgb(218, 222, 230);
  --placeholder-opacity: 1;
  --placeholder-font-weight: 400;
  height: 45px;
}
.label_error {
  font-size: 13px;
  font-weight: 400;
  color: rgb(234, 66, 106);
}
button {
  background-color: #664bc4;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 7px;
  margin-top: 13px;
  font-size: 13px;
  font-weight: 400;
}