.paddingHeader {
  padding-top: 15px;
}
.iconBack {
  color: #000;
  font-size: 80%;
}
.imagenHeader {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textCongra {
  color: #fff;
}
.colImg {
  padding-top: 5%;
  padding-bottom: 10%;
}
.imagenMail {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.colText {
  padding-left: 15%;
  padding-right: 15%;
}
.text1 {
  font-size: 90%;
  color: #000;
}
.text2 {
  font-size: 90%;
  color: #3ec0e8;
}
.botonGo {
  border: 1px solid #664bc4;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #664bc4;
  color: #ffffff;
}
