<div class="div-banner">

  <img src="assets/pages/home/etixmall-banner.png" class="img-banner" (click)="etixmall()">

  <div class="div-contenedor">
    <ion-slides [options]="options">
      <ion-slide><img src="assets/pages/home/patrocinios/1.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/2.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/3.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/4.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/5.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/6.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/7.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/1.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/2.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/3.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/4.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/5.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/6.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
      <ion-slide><img src="assets/pages/home/patrocinios/7.png" class="img-patrocinios" (click)="etixmall()"></ion-slide>
    </ion-slides>
  </div>

</div>
<div class="div-contenedor-dos">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/vino.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/fai.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/pet.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/unique.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/viajes.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/erbo.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/giardino.png" class="img-categories" (click)="etixmall()">
  <img src="assets/pages/home/categorias-etixmall/{{idioma}}/belleza.png" class="img-categories" (click)="etixmall()">
</div>