<app-header-padre [page]="true"></app-header-padre>
<ion-content>
  
  <ion-grid class="gridcard">
    <ion-row>
      <ion-col class="padding1">
        <ion-label class="label1">{{ voucher.vouchers.voucherTITULO }} </ion-label>
      </ion-col>
      <ion-col class="padding2">
        <ion-label class="label2">{{ voucher.vouchers.voucherPRECIO | formattNumber}} €</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="padding3">
        <ion-label class="label3">{{'VALIDUNTIL' | translate}} | {{ voucher.vouchers.voucherFECHACADUCIDAD | dateTimeFormatFilter: 'DD.MM.YY'}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="padding4">
        <ion-label class="label4">{{'CATEGORY' | translate}}:</ion-label><br>
        <ion-label class="label5">{{categoria}}</ion-label>
      </ion-col>
      <ion-col class="padding5">
        <ion-label class="label4">{{titulo_uno}}:</ion-label><br>
        <ion-label class="label5">{{titulo_dos}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="regalar_voucher()" [formGroup]="formulario">
    <ion-grid class="grid2">
      <ion-row>
        <ion-col class="paddingleft0">
          <ion-label class="label6">{{'RECIPIENT3' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="paddingleft0">
          <ion-input class="input" placeholder="{{'INSERTRECIPIENTWALLET' | translate}}"
          [formControl]="formulario.controls.recipiente" name="recipiente"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="paddingleft0">
          <ion-label class="label6">{{'MESSAGE2' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="paddingleft02">
          <ion-textarea class="input2" placeholder="{{'TYPESOMETHING2' | translate}}" rows="8" cols="20"
          [formControl]="formulario.controls.mensage" name="mensage"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="paddingleft02">
          <ion-item lines="none">
            <ion-checkbox [formControl]="formulario.controls.check" name="check"></ion-checkbox>&nbsp;{{'SENDASAGIFT2' | translate}}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="paddingtop paddingleft02">
          <button [ngClass]="{'buttonsend': formulario.valid, 'buttonsendf': !formulario.valid}"
          type="submit" [disabled]="!formulario.valid">{{'SEND5' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

