.div-search {
    position: relative;
}
.search {
    width: calc(100% - 32px);
    margin: 16px;
    height: 50px;
    padding-left: 40px;
    border-radius: 20px;
    border: 1px solid #d3d3d3;
    background: white;
}
.icon {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    left: 25px;
    top: calc(50% - 12.5px);
    color: grey;
}