ion-tabs {
  ion-fab {
    margin-bottom: 23px;
    z-index: 99999;
    ion-fab-button {
      --background: transparent !important;
      --background-activated: transparent !important;
      --box-shadow: none !important;
    }
    position: fixed;
    bottom: 0px;
    left: calc(50% - 28px);
  }
  ion-tab-bar {
    --border: 0px;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 55px;
    padding-bottom: 10px !important;
    margin-bottom: 0px !important;
    padding-top: 50px;
    ion-tab-button {
      border: 1px solid #fff;
      --background: #fff;
    }
    ion-tab-button.home {
      margin-right: 0px;
      border-top-left-radius: 40px;
    }
    ion-tab-button.amigos {
      margin-right: 0px;
      border-top-right-radius: 16px;
    }
    ion-tab-button.cartera {
      margin-right: 0px;
      border-top-right-radius: 40px;
    }
    ion-tab-button.cuenta {
      margin-left: 0px;
      border-top-left-radius: 16px;
      z-index: 1;
    }
    svg {
      width: 60px;
      margin-top: 19px;
      margin-bottom: 3px;
      padding-bottom: 0px;
      border-bottom: 20px solid #fff;
      z-index: 999;
      position: -webkit-sticky;
      path {
        fill: #fff;
      }
    }
  }
}
.imgicon {
  width: 25px;
}
.imgicon_m {
  width: 33px;
}
.imgicon2 {
  width: 27px;
}
.lineabaja {
  width: 100%;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 999;
}
.pay {
  font-size: 12px;
  font-weight: 400;
  color: #664ac5;
  position: absolute;
  bottom: 5px;
  z-index: 1000;
}

.divimg {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-right: 10px;
}
.divimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}