.inputs {
  border: 1px solid #f0f4f7ce;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: #f0f4f7ce;
  --placeholder-color: #d8dcdf;
  --placeholder-opacity: 1;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}
.label1 {
  font-weight: bold;
  font-size: 110%;
  color: #000;
  text-shadow: 0px 0px 1px #d8dcdf;
}
