<div>
  <ion-row class="m-t-100">
    <ion-col class="ion-text-center">
      <i class="mdi mdi-check-circle icon-success"></i>
    </ion-col>
  </ion-row>

  <ion-row class="m-t-30">
    <ion-col class="ion-text-center">
      <ion-label class="text-title">{{'PURCHASESUCCESSFULLY' | translate}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="m-t-10">
    <ion-col class="ion-text-center">
      <ion-label class="text-info">{{'PURCHASEPROCESSED' | translate}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="m-t-10">
    <ion-col class="ion-text-center center-text-info">
      <div class="w-300">
        <ion-label class="text-info">{{'SEDBYOUMAIL' | translate}}.</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="m-t-10">
    <ion-col class="ion-text-center">
      <ion-label class="text-receive">{{'YOURECEIVED' | translate}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="m-t-10">
    <ion-col class="ion-text-center">
      <ion-label class="text-pr">{{'125'}} PR</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="m-t-10">
    <ion-col class="ion-text-center">
      <ion-button (click)="closeModal()" class="btn-back">{{'BACKTOMARKETPLACE' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</div>