.label_uno {
  font-size: 70%;
  color: #000;
  font-weight: bold;
}
.label1 {
  font-size: 70%;
  color: rgb(186, 191, 202);
  font-weight: bold;
}
.label {
  font-size: 80%;
  color: rgb(186, 191, 202);
}
.iconLocation {
  color: rgb(239, 69, 103);
  font-size: 85%;
}
.colporcentaje1 {
  max-width: 30% !important;
}
.colporcentaje2 {
  max-width: 25%;
}
.colporcentaje3 {
  max-width: 15%;
}
.colporcentaje4 {
  max-width: 30% !important;
}
.paddingleft {
  padding-left: 10px;
}
