.grid {
  padding-top: 15px;
  padding-bottom: 15px;
}
.colicon {
  max-width: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.texto1rosa {
  font-weight: bold;
  font-size: 150%;
  color: rgb(239, 69, 103);
}
.texto2negro {
  font-weight: bold;
  font-size: 95%;
  color: #000;
}
.coltexto {
  line-height: 2;
}
.texto3negro {
  font-size: 65%;
  color: #000;
}
.texto4gris {
  font-weight: bold;
  font-size: 95%;
  color: #d8dcdf;
}
.icon2rosa {
  font-size: 100%;
  color: rgb(239, 69, 103);
}
ion-slides {
  width: 100%;
  height: auto;
  --bullet-background-active: rgb(239, 69, 103);
}
.cardimg {
  width: 100%;
  height: 270px;
  box-shadow: none;
  margin: 5px;
  margin-bottom: 36px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.texto5negro {
  font-size: 95%;
  color: #000;
}
.direction {
  width: 100%;
  height: 45px;
  border: 1px dotted rgb(239, 69, 103);
  background-color: rgb(239, 69, 103);
  color: #fff;
  border-radius: 10px;
}
.texto6negro {
  font-weight: bold;
  font-size: 110%;
  color: #000;
}
.colrelleno {
  max-width: 12%;
}
.imgqr {
  width: 200px;
  height: 200px;
}
.texto7negro {
  font-weight: bold;
  font-size: 150%;
  color: #000;
  letter-spacing: 6px;
}
.colticketcode {
  line-height: 2;
  margin-left: 40px;
  margin-right: 40px;
  border-top: 3px dashed #d8dcdf;
  border-bottom: 3px dashed #d8dcdf;
}
.linea2 {
  width: 100%;
  height: 2px;
  background-color: #d8dcdf;
  opacity: 0.3;
}
