<!-- Paso 1 -->
<ion-row *ngIf="step === 1">
  <div class="d-line-grey"></div>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-50"></div> 
      <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <i class="mdi mdi-check-all color-icon-check p-relative f-z-25 icon-checkAll"></i>
  </ion-col>
</ion-row>


<!-- Paso 2 -->
<ion-row *ngIf="step === 2">
  <div class="d-line-grey"></div>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div>  
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-50"></div> 
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <i class="mdi mdi-check-all color-icon-check p-relative f-z-25 icon-checkAll"></i>
  </ion-col>
</ion-row>


<!-- Paso 3 -->
<ion-row *ngIf="step === 3">
  <div class="d-line-grey"></div>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div>  
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div> 
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-50"></div>
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <i class="mdi mdi-check-all color-icon-check p-relative f-z-25 icon-checkAll"></i>
  </ion-col>
</ion-row>


<!-- Paso 4 -->
<ion-row *ngIf="step === 4">
  <div class="d-line-grey"></div>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div>  
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div> 
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div>
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-50"></div>
    <button class="p-relative button-circle-icon"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <i class="mdi mdi-check-all color-icon-check p-relative f-z-25 icon-checkAll"></i>
  </ion-col>
</ion-row>

<!-- Paso 5 -->
<ion-row *ngIf="step === 5">
  <div class="d-line-grey"></div>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div>  
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div> 
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-100"></div>
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <div class="d-line-50"></div>
    <button class="p-relative button-circle-icon bg-step-complete"></button> 
  </ion-col>
  <ion-col class="ion-text-center col-item">
    <i class="mdi mdi-check-all color-icon-check p-relative f-z-25 icon-checkAll"></i>
  </ion-col>
</ion-row>