<ion-grid>
  <ion-row>
    <ion-col class="col-left">
      <ion-label class="label-reviews">Reviews</ion-label>
    </ion-col>
    <!-- <ion-col class="ion-text-end" *ngIf="user != emailExpert">
      <button class="boton-write" (click)="addComments()">Write review</button>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col class="col-left-dos">
      <app-stars-coments [valoracion]="profesional.rating" class="zoom-ponderado"></app-stars-coments>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <div class="div-contenedor">
        <div class="div-comentario" *ngFor="let comentario of profesional.coments">
          <div class="div-img-name">
            <img class="img-perfil" [src]="comentario.img">&nbsp;&nbsp;
            <ion-label class="label-name">{{comentario.nombre}}</ion-label>
          </div>
          <div class="div-coment">
            <ion-label class="label-coment">{{comentario.comentario}}</ion-label>
          </div>
          <div class="div-star-coment">
            <app-stars-coments [valoracion]="comentario.valoracion"></app-stars-coments>
          </div>
          <ion-icon name="trash" class="icon-trash"></ion-icon>
        </div>
      </div> -->
    </ion-col>
  </ion-row>
</ion-grid>