<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label class="l-v">Vouchers oportunity</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-slides [options]="option" [pager]="true">
        <ion-slide *ngFor="let voucher of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
          <ion-grid class="g-v">
            <ion-row>
              <ion-col class="c-i">
                <div class="i-v"></div>
              </ion-col>
              <ion-col class="c-t">
                <div class="d-l-u">
                  <div class="d-t-v">voucher titulo</div>
                  <div class="d-f">till DD.MM.YY</div>
                </div>
                <div class="d-l-d">category</div>
                <div class="d-l-t">
                  <div class="d-l-p">precio €</div>
                  <div class="d-l-pr">PR pr</div>
                  <button class="b-b">buy</button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>