ion-content {
    --background: #F5F6F8;
}
.divInfoNula {
  width: 100%;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.labelInfoNula {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}