ion-grid {
    padding: 0px;
    margin: 10px;
    margin-left: 5px;
    margin-top: 20px;
}
ion-col {
    padding: 0px;
}
.labelTop {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.divContenedor {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px;
    padding-top: 10px;
    padding-left: 0px;
    display: -webkit-box;
}
.divShop {
    width: 59px;
    height: auto;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center !important;
}
img {
    width: 59px;
    height: 59px;
    border-radius: 10px;
}
.labelPuntoRecompensa {
    color: #858585;
    font-size: 14px;
    font-weight: 400;
}
.divShop-next {
    margin-right: 10px;
    border-radius: 15px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-next {
    font-size: 50px;
    color: #000;
}
.icon-spinner {
    --color: 50px;
    zoom: 1.5;
}