<ion-content>
  <ion-card>
    <div class="contenedor">
      <div class="div_arriba">
        <ion-icon src="assets/tabs/wallet/componentes/recibir_empresa/successful.svg" *ngIf="tipo"></ion-icon>
        <ion-icon src="assets/tabs/wallet/componentes/recibir_empresa/failed.svg" *ngIf="!tipo"></ion-icon>
      </div>
      <div class="div_abajo">
        <ion-label *ngIf="tipo">{{'SUCCESSFULTRANSACTION' | translate}}</ion-label>
        <ion-label *ngIf="!tipo">{{'TRANSACTIONFAILED2' | translate}}</ion-label>
      </div>
    </div>
  </ion-card>
</ion-content>
<ion-toolbar>
  <ion-grid >
    <ion-row >
      <ion-col>
        <button (click)="salir_con_argumentos()" class="boton_uno" *ngIf="tipo">{{'BACKTOWALLET' | translate}}</button>
        <button (click)="salir_sin_argumentos()" class="boton_dos" *ngIf="!tipo">{{'TRYAGAIN2' | translate}}</button>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-toolbar>
