.grid {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
}
.col_padding_abajo {
  padding-bottom: 10px;
}
.textotitulos {
  font-size: 17px;
  font-weight: 400;
  color: #000;
  margin-left: 10px;
}
.textovalores {
  font-size: 25px;
  font-weight: 400;
  color: #000;
  margin-left: 10px;
}
.textfuncionalidad {
  font-size: 15px;
  font-weight: 400;
  color: #664bc4;
  margin-left: 10px;
}
