
.contenedor {
  padding-bottom: 60px;
  background: #E8F0F6;
}
.div-background {
  background: #01abe1;
  position: relative;
  padding-bottom: 75px;
  margin-bottom: 65px;
}
.botones {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 31px;
  left: 0;
}