<app-header-padre [tabs]="true"></app-header-padre>
<ion-content class="ion-no-color-barra" >
  <!-- <div class="div-background">
    <app-search-bar></app-search-bar>
    <app-tolbar-botones class="botones"></app-tolbar-botones>
  </div> -->

  <div class="contenedor">
    <app-info-community></app-info-community>
    <app-tolbar-botones></app-tolbar-botones>
    <app-welcome-news-shops></app-welcome-news-shops>
    <app-publicidad></app-publicidad>
    <app-ecommerce-home></app-ecommerce-home>
    <app-nearby-stores></app-nearby-stores>
    <app-mapa-home></app-mapa-home>
    <app-new-experts></app-new-experts>
    <app-invest-home></app-invest-home>
    <!--app-tutorials></app-tutorials-->
  </div>
  <!-- <app-marketplace-home [products]="products"></app-marketplace-home>
  <app-etixmall></app-etixmall> -->
  <!-- <app-eventos-locales-c></app-eventos-locales-c> -->
  <!-- <app-registro-diario-c></app-registro-diario-c> -->
</ion-content>

