.contenedor {
    padding: 30px 40px;
}
.p-b-7 {
    padding-bottom: 7px;
}
.p-b-23 {
    padding-bottom: 23px;
}
.p-b-19 {
    padding-bottom: 19px;
}
.l-1 {
    color: #272626;
    font-weight: bold;
    font-size: 20px;
}
.l-2 {
    color: #272626;
    font-weight: 400;
    font-size: 16px;
}
.l-3 {
    color: #272626;
    font-weight: 400;
    font-size: 18px;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-100 {
    width: 100%;
}
.img-button {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #01ABE1;
}
.p {
    padding-top: 10px;
    padding-bottom: 10px;
}