<ion-grid [ngStyle]="{'background': color}">
  <ion-row>
    <ion-col>
      <div class="d-c" (click)="back()">
        <ion-icon name="chevron-back" class="icon-back"></ion-icon>&nbsp;&nbsp;
        <div class="b-i-i">
          <img src="/assets/icon/favicon.png" class="img-icon">
        </div>&nbsp;
        <ion-label class="l-e">EtixPay</ion-label>
      </div>
    </ion-col>
    <ion-col class="col-end">
      <div class="b-i-n">
        <ion-icon name="notifications-outline" class="img-icon-2"></ion-icon>
      </div>
      <img src="assets/tabs/tabs/menu.svg" class="iconMenu" (click)="menu()">
    </ion-col>
  </ion-row>
</ion-grid>