ion-slides {
  width: 100%;
  --background: transparent;
  --bullet-background: grey;
  --bullet-background-active: #fff;
}
img {
  width: 96%;
  height: 214px;
  object-fit: cover;
  border-radius: 28px;
  border: 2px solid #fff;
}
