<app-header-padre [page]="true"></app-header-padre>

<ion-content>
  <ion-row>
    <ion-col class="ion-text-center" style="padding: 20px">
      <img src="assets/pages/icons/cash.svg" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text style="font-size: 32px; font-weight: bold"
        >{{'Paga in contanti'}}</ion-text
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      class="ion-text-center"
      style="padding-left: 50px; padding-right: 50px"
    >
      <ion-text style="font-size: 16px; font-weight: bold"
        >{{'Mostra questo codice QR al negoziante per ricevere i Punti
        Ricompensa'}}</ion-text
      >
    </ion-col>
  </ion-row>
  <ion-row style="padding: 40px">
    <ion-col
      style="
        height: 312px;
        width: 314px;
        border-radius: 30px;
        border: solid 1px #00beff;
      "
    >
    </ion-col>
  </ion-row>
</ion-content>
