<ion-content>
  <div class="div_contenedor">
    <div class="contenido">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col class="centrar">
              <img src="assets/alerta/successful.svg" class="imagen">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="centrar_dos">
              <ion-label class="label_uno">Successful Purchase</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="centrar_dos">
              <ion-label class="label_dos">You have successfully Purchased Voucher</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      
      <button class="button_uno" (click)="go_yo_my_vocuhers()">Go to my vouchers</button>
    </div>
  </div>
</ion-content>
