<app-header-padre [page]="true"></app-header-padre>
<ion-content>



  <ion-grid>
    <ion-row *ngFor="let apuesta of [1,1,1,1,1]" class="padding">
      <ion-col class="ion-text-left">
        <ion-label class="label1">3yhd84827dh28hd</ion-label><br>
        <ion-label class="label2">January 9, 2020 08:30 PM</ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-label class="label3">+ 160,69 TIX</ion-label><br>
        <ion-label class="label4">Spain</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
