ion-grid {
  padding: 10px;
}
ion-col {
  padding: 0px;
}
.row_botones {
  padding-top: 31px;
  padding-bottom: 35.18px;
}
.button_cashback {
  width: 150px;
  height: 37px;
  border-radius: 10px;
  background-color: #ec3759;
  border: 1px solid #ec3759;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.button_account {
  width: 150px;
  height: 37px;
  border-radius: 10px;
  background-color: #3ebce4;
  border: 1px solid #3ebce4;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.label_uno {
  font-size: 17px;
  font-weight: 400;
  color: #000;
}
.label_dos {
  font-size: 17px;
  font-weight: 400;
  color: #664ac5;
}
img {
  width: 21.86px;
  height: 21.86px;
}
.button_account2 {
  width: 150px;
  height: 37px;
  border-radius: 10px;
  background-color: #3ebce4;
  border: 1px solid #3ebce4;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}
