.normal {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.pequenas {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pequenas img {
  width: 10px;
  height: 10px;
}
