.marcosInput {
  border: solid 1px #e6eaed;
  height: 50px !important;
  width: 100%;
  border-radius: 5px;
  color: #000000;
}
.marcosText {
  border: solid 1px #e6eaed;
  width: 100%;
  border-radius: 5px;
}
.botonSend {
  border: solid 1px #3ec0e8;
  background-color: #3ec0e8;
  height: 40px !important;
  width: 100%;
  border-radius: 25px;
  color: #ffffff;
}
