<form ngNativeValidate #formPreRegistro="ngForm">
  <ion-card-content>
    <p>
     <ion-label class="dark-label f12">A questo indirizzo mail riceverai I dati per accedere al tuo account</ion-label>
    </p>
    <ion-input  
                type="email" [(ngModel)]="contactDetail.email"
                (ionChange)="validateEmail(contactDetail.email)"
                (keyup)="validateEmail(contactDetail.email)" 
                (focusout)="validateEmail(contactDetail.email); validatedEmail()" 
                name="email" class="input-text"
                [placeholder]="'utilizza una mail differente da quella personale'"
                required [disabled]="(codigoEnviado || estado.EstadoUser == 'user-active' || estado.EstadoUser == 'information-completed' || estado.EstadoUser == 'summary' )">
    </ion-input>
  </ion-card-content>
  
  <ion-card-content>
    <p>
      <ion-label class="dark-label f12">Su questo numero invieremo il codice di conferma della registrazione</ion-label>
    </p>
  
    <ion-row>
      <ion-col size="4" class="item-button-phone">
        <select [(ngModel)]="contactDetail.countryID" name="countryID" class="input-select" required [disabled]="(codigoEnviado || estado.EstadoUser == 'user-active' || estado.EstadoUser == 'information-completed' || estado.EstadoUser == 'summary')">
          <option *ngFor="let country of countries" value = "{{country.id}}">{{country.paisNOMBRE + ' +' + country.paisINDICATIVO}}</option>
        </select>  
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-input type="number" (ionInput)="soloNumero()" [(ngModel)]="contactDetail.phone" name="phone" class="input-text" [placeholder]="'Inserisci il numero di telefono'" required  [disabled]="(codigoEnviado || estado.EstadoUser == 'user-active' || estado.EstadoUser == 'information-completed' || estado.EstadoUser == 'summary')"></ion-input>
      </ion-col>
    </ion-row>
  
    <ion-row *ngIf="estado.EstadoUser != 'user-active' && estado.EstadoUser != 'information-completed' && estado.EstadoUser != 'summary' ">
      <ion-col></ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="enviarCodigo()" [ngClass]="(formPreRegistro.valid && isEmail)? 'primary' : 'medium'" class="btn-button wth-90p" [disabled]="(!formPreRegistro.valid || !isEmail)">
          <ion-label class="txt-capitalize">
            Invia
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngIf="(estado.EstadoUser == 'user-active' || estado.EstadoUser == 'information-completed'  || estado.EstadoUser == 'summary') && !final.final">
      <ion-col></ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="continue()" class="btn-button wth-90p primary">
          <ion-label class="txt-capitalize">
            Invia
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngIf="(estado.EstadoUser == 'user-active' || estado.EstadoUser == 'information-completed' || estado.EstadoUser == 'summary') && final.final">
      <ion-col></ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="volverAlFinal()" class="btn-button wth-90p primary">
          <ion-label class="txt-capitalize">
            Invia
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-card-content>
</form>


<ion-card-content *ngIf="codigoEnviado" class="pb0">
  <p class="ion-text-center pb18">
    <ion-label class="dark-label f16">Inserisci il codice ricevuto sul telefono fornito</ion-label>
  </p>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-input #input1 (ionChange)="codeRecived(1)" [(ngModel)] = "codigo.digit1" name="digit1" maxlength="1" type="tel" class="input-code" required [disabled]="codigoVerificado"></ion-input>
    </ion-col>
    <ion-col  class="ion-text-center">
      <ion-input #input2 (ionChange)="codeRecived(2)" [(ngModel)] = "codigo.digit2" name="digit2" maxlength="1" type="tel" class="input-code" required [disabled]="codigoVerificado"></ion-input>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-input #input3 (ionChange)="codeRecived(3)" [(ngModel)] = "codigo.digit3" name="digit3" maxlength="1" type="tel" class="input-code" required [disabled]="codigoVerificado"></ion-input>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-input #input4 (ionChange)="codeRecived(4)" [(ngModel)] = "codigo.digit4" name="digit4" maxlength="1" type="tel" class="input-code" required [disabled]="codigoVerificado"></ion-input>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-input #input5 (ionChange)="codeRecived(5)" [(ngModel)] = "codigo.digit5" name="digit5" maxlength="1" type="tel" class="input-code" required [disabled]="codigoVerificado"></ion-input>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-input #input6 (ionChange)="codeRecived(6)" [(ngModel)] = "codigo.digit6" name="digit6" maxlength="1" type="tel" class="input-code" required [disabled]="codigoVerificado"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <p>
        <ion-label class="txt-capitalize f-z-50">
          {{minutes}}:{{seconds}}
        </ion-label>
      </p>
      <p>
        <ion-label class="txt-capitalize">tempo residuo</ion-label>
      </p>
    </ion-col>
  </ion-row>
</ion-card-content>

<ion-row class="p-t-50" *ngIf="!finalTime && codigoEnviado">
  <ion-col class="ion-text-center">
    <p>
      <ion-label color="dark-label">Non hai ricevuto il codice ?</ion-label>
    </p>
    <p (click)="reiniciar()">
      <ion-label class="txt-contact">Chiedine un nuovo codice</ion-label>
    </p>
  </ion-col>
</ion-row>
<ion-row *ngIf="finalTime && codigoEnviado">
  <ion-col class="ion-text-center">
    <p class="pcheck">
      <i class="mdi mdi-check-all color-icon-check p-relative f-z-25 icon-checkAll"></i>
    </p>
    <p>
      <ion-label color="dark-label f14">Abbiamo verificato il numero di telefono</ion-label>
    </p>
  </ion-col>
</ion-row>
<ion-row *ngIf="finalTime && codigoEnviado && !final.final">
  <ion-col class="ion-text-center">
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-button (click)="continue()" class="btn-button wth-90p primary">
      <ion-label color="light" class="txt-capitalize">
        Avanti
        <i class="mdi mdi-arrow-right m-l-15"></i>
      </ion-label>
    </ion-button>
  </ion-col>
</ion-row>
<ion-row *ngIf="finalTime && codigoEnviado && final.final">
  <ion-col class="ion-text-center">
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-button (click)="volverAlFinal()" class="btn-button wth-90p primary">
      <ion-label color="light" class="txt-capitalize">
        Avanti
        <i class="mdi mdi-arrow-right m-l-15"></i>
      </ion-label>
    </ion-button>
  </ion-col>
</ion-row>