<div class="contenedor">
    <div class="linea"></div>
    <div class="contenedor-slide">
        <div class="button-c">
            <ion-button class="boton-red-social" (click)="sharing('fb')">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
        </div>
        <div class="button-c">
            <ion-button class="boton-red-social" (click)="sharing('twitter')">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
        </div>
        <div class="button-c">
            <ion-button class="boton-red-social" (click)="sharing('whatsapp')">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-button>
        </div>
        <div class="button-c">
            <ion-button class="boton-red-social" (click)="sharing('copy')">
                <ion-icon name="copy-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</div>