<ion-card-content class="card-complete">
  <ion-row class="w-70">
    <ion-col class="ion-text-center">
      <i class="mdi mdi-check-circle icon-completed"></i>
      <h1>
        <ion-label color="primary">{{'CONGRATULATIONS' | translate}}</ion-label>
      </h1>
      <p class="m-t-25">
        <ion-label color="dark-label">{{'PROFILECOMPLETE' | translate}}</ion-label>
      </p>
      <ion-button (click)="backAccount()" color="primary" class="btn-button m-t-25">
        <ion-label color="light">{{'BACKTOHOME' | translate}}</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>