<div class="contenedor">


  <div class="w-100">

    <div class="div1">
      <img src="assets/alerta/success.png" class="img-alerta">
    </div>

    <div class="div2">
      <ion-label class="titulo">Complimenti!</ion-label>
    </div>
    
    <div class="div3">
      <ion-label class="text">
        Il tuo profilo è davvero <br>
        completo, entro le prossime <br>
        48 ore riceverai una <br>
        comunicazione alla mail che <br>
        hai fornito da parte del nostro <br>
        ufficio commerciale.
      </ion-label>
    </div>

    <div class="div4">
      <button class="button" (click)="home()">Torna alla home</button>
    </div>
    
  </div>



</div>