<ion-label *ngIf="mensaje === 'CARGA WALLET MAESTRA'">{{'CARGAWALLETMAESTRA' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'TRANSACCIÓN REALIZADA DESDE EL ADMINISTRADOR'">{{'ENVIODESDEELADMINISTRADOR' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'RETIRO ETIXCARD'">{{'RETIROETIXCARD' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'COMPRA TICKET CON ATM'">{{'COMPRATICKETCONATM' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'TRANSACCIÓN REALIZADA DESDE LA PASARELA DE PAGO'">{{'COMPRATICKET' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'TRANSACCIÓN REALIZADA POR TRANSAFERENCIA'">{{'ENVIO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'CONVERSION ATM'">{{'REEMBOLSO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'ENVIO DESDE EL ADMINISTRADOR'">{{'ENVIODESDEELADMINISTRADOR' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'COMPRA TICKET'">{{'COMPRATICKET' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'ENVIO'">{{'ENVIO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'REEMBOLSO'">{{'REEMBOLSO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'PAY'">{{'PAY' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'CASHBACK'">{{'CASHBACK' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'CARGA ETIXCARD'">{{'CARGAETIXCARD' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'CASHBACK ETIXPAY'">{{'CASHBACKETIXPAY' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'COMISION'">{{'COMISION' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'PENDIENTE'">{{'PENDIENTE' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'APROBADO'">{{'APROBADO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'NO APROBADO'">{{'NOAPROBADO | translate'}}</ion-label>
<ion-label *ngIf="mensaje === 'EN PROCESO'">{{'ENPROCESO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'REFERIDO'">{{'REFERIDO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'TRANSFERENCIA'">{{'ENVIO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'INGRESO'">{{'INGRESO' | translate}}</ion-label>
<ion-label *ngIf="mensaje === 'RETIRO'">{{'RETIRO' | translate}}</ion-label>