.g-e-t {
    padding-top: 12.44px;
}
.i-e {
    width: 17.78px;
    height: 13.33px;
}
.i-t {
    width: 16.26px;
    height: 16.25px;
}
ion-icon {
    display: flex;
    font-size: 25px;
    color: rgb(102, 75, 196);
}
.l-t-d {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.l-s-b {
    font-size: 15px;
    font-weight: bold;
    color: #2EBFEA;
}
ion-input {
    border: 1px solid #000;
    border-radius: 10px;
    --padding-start: 10px;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ion-col {
    line-height: 2;
}