
<ion-content>
  <div class="div-img">
    <img src="{{data.imagen}}"/>
  </div>
  <ion-grid>
    <form [formGroup]="formulario" (ngSubmit)="addComment()">
      <ion-row>
        <ion-col class="col-uno">
          <ion-label class="label-nombre">{{data.nombre}}<br/>{{data.apellido}}</ion-label><br />
          <ion-label class="label-wallet">{{data.wallet}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-dos">
          <rating 
            readonly="false" 
            size="default" 
            [formControl]="formulario.controls.valoracion" name="valoracion">
          </rating>
          <ion-label class="label-uno">{{'HOWISYOURN' | translate}}</ion-label>
          <ion-label class="label-dos">{{'YOURFEEDBACKN' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea rows="3" cols="20" placeholder="{{'ADDITIONALCOMMENTSN' | translate}}"
          [formControl]="formulario.controls.mensaje" name="mensaje"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button class="boton-submit-review" type="submit">{{'SUBMITREVIEWN' | translate}}</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
