.textoReloj {
  font-weight: bold;
  font-size: 200%;
  color: #000;
}
.textoReloj2 {
  font-weight: bold;
  font-size: 110%;
  color: grey;
}
.col1 {
  max-width: 35%;
}
.col2 {
  max-width: 5%;
  padding-left: 0%;
  padding-right: 0%;
}
.colMitad {
  max-width: 20%;
}
