<ion-grid class="ion-text-center">
  <ion-row>
      <ion-col class="col1">
          <ion-label class="textoReloj">{{day}}</ion-label>
      </ion-col>
      <ion-col class="col2">
          <ion-label class="textoReloj">:</ion-label>
      </ion-col>
      <ion-col class="colMitad">
          <ion-label class="textoReloj">{{hours}}</ion-label>
      </ion-col>
      <ion-col class="col2">
          <ion-label class="textoReloj">:</ion-label>
      </ion-col>
      <ion-col class="col1">
          <ion-label class="textoReloj">{{minutes}}</ion-label>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col class="col1">
          <ion-label class="textoReloj2">{{'DAYS' | translate}}</ion-label>
      </ion-col>
      <ion-col class="col2">
      </ion-col>
      <ion-col class="colMitad">
          <ion-label class="textoReloj2">{{'HOURS' | translate}}</ion-label>
      </ion-col>
      <ion-col class="col2">
      </ion-col>
      <ion-col class="col1">
          <ion-label class="textoReloj2">{{'MINUTES'  | translate}}</ion-label>
      </ion-col>
  </ion-row>
</ion-grid>
