.label-select {
    color: #3772FF;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}
.label-no-select {
    color: #3772FF;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 10px;
    opacity: 0.7;
}
.padding-top {
    padding-top: 15px !important;
}
.no-padding {
    padding: 0px;
}
.izquierda {
    text-align: left !important;
    padding-left: 10px;
}
.derecha {
    text-align: right !important;
    padding-right: 10px;
}