.l-t {
    color: #222032;
    font-size: 20px;
    font-weight: bold;
}
.l-s {
    color: #7D7996;
    font-size: 13px;
    font-weight: 300;
}
.d-c {
    width: 100%;
    height: auto;
    padding-left: 17px;
    margin-top: 23px;
}
.d-c-2 {
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 30px;
    margin-bottom: 35px;
    margin-top: 16px;
}
ion-slides {
    height: auto;
    width: auto;
    border-radius: 30px;
}
ion-slide {
    height: auto;
    border-radius: 30px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: revert;
}