<ion-grid class="borderRadius">
  <ion-row class="borderRadius">
    <ion-col class="colImg borderRadius">
      <img src="{{shop.empresaFOTO}}" class="imgPrincipal">
    </ion-col>
    <ion-col>
      <div class="divTam">
        <ion-label class="labelTitulo">{{shop.empresaNOMBREMAP}}</ion-label>
      </div>
      <div class="divTam">
        <ion-icon name="star-sharp" class="iconStar"></ion-icon>&nbsp;&nbsp;
        <ion-label class="labelText" *ngIf="!shop.empresaNUMEROVAT">-/5</ion-label>
        <ion-label class="labelText" *ngIf="shop.empresaNUMEROVAT">{{shop.empresaNUMEROVAT}}/5</ion-label>
      </div>
      <div class="divTam">
        <ion-icon name="git-compare-outline" class="iconCash"></ion-icon>&nbsp;&nbsp;
        <ion-label class="labelText">{{shop.cashbackCLIENTE | formattNumber2}}% {{'CASHBACKE' | translate}}</ion-label>
      </div>
      <div class="divTam">
        <ion-icon name="gift-sharp" class="iconPr"></ion-icon>&nbsp;&nbsp;
        <ion-label class="labelText">{{shop.pr_base}} PR/100€</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <img src="assets/ecommerce/online.svg" class="imgOnline" (click)="irSitioWeb()">
</ion-grid>
