.p-t-30 {
    padding-top: 30px;
    padding-bottom: 40px;
}
ion-col {
    text-align: center !important;
}
.boton-numero {
    height: 76px;
    width: 76px;
    color: #5A5A5A;
    font-size: 47px;
    --border-radius: 20px;
    --border-color: #FFFFFF;
    --border-style: solid;
    --background: #F5F6F8;
    --box-shadow: 0px 0px 20px -11px #d8dcdf;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
}
.boton-back {
    height: 76px;
    width: 76px;
    color: #664BC4;
    font-size: 35px;
    --border-radius: 20px;
    --border-color: #FFFFFF;
    --border-style: solid;
    --background: #F5F6F8;
    --box-shadow: 0px 0px 20px -11px #d8dcdf;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
}