.botonOK{
    height: 40px;
    width: 200px;
    border: 1px solid #664bc4;
    background-color: #664bc4;
    color: #ffffff;
    border-radius: 5px;
}
.botonOK2{
    height: 40px;
    width: 100px;
    border: 1px solid #664bc4;
    background-color: #664bc4;
    color: #ffffff;
    border-radius: 5px;
}