<ion-content>
  <ion-grid class="paddinBot0 backColorMorado tamanoGrid">
    <ion-row class="paddingCabecera">
      <ion-col class="ion-text-center">
        <ion-label class="textocabecera"
          >{{'SETNEWPASSWORDNS' | translate}}</ion-label
        >
      </ion-col>
    </ion-row>
    <div class="divIMG">
      <img src="assets/inicio/cambio-de-password/password.svg" class="tamañoIMG" />
    </div>
  </ion-grid>

  <ion-grid class="gridFormularios">
    <ion-row class="backColorMorado">
      <ion-toolbar class="backColorBlanco"> </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="setNewPassword()" [formGroup]="fmNewPassword">
          <ion-grid class="paddingDerechaIzquierdaSlide">
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-label class="labelInputs"
                  >{{'NEWPASSWORDNS' | translate}}</ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-input
                  class="ion-padding inputs"
                  placeholder="{{'NEWPASSWORDNS' | translate}}"
                  [type]="show ? 'text' : 'password'"
                  [formControl]="fmNewPassword.controls.password"
                  name="password"
                  maxlength="6"
                >
                </ion-input>
                <ion-icon
                  [name]="show ? 'eye-outline' : 'eye-off-outline'"
                  class="iconInputs"
                  (click)="show = !show"
                ></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="this.fmNewPassword.controls.password.status == 'INVALID' && this.fmNewPassword.controls.password.value.length > 0">
              <ion-col class="ion-no-padding ion-text-left">
                <ion-label class="textoErrores">*{{'YOURPASSWORDMUST' | translate}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-label class="labelInputs"
                  >{{'CONFIRMNS' | translate}}</ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-input
                  class="ion-padding inputs"
                  placeholder="{{'CONFIRMNEWPASSWORDNS' | translate}}"
                  [type]="show2 ? 'text' : 'password'"
                  [formControl]="fmNewPassword.controls.c_password"
                  name="c_password"
                  maxlength="6"
                >
                </ion-input>
                <ion-icon
                  [name]="show2 ? 'eye-outline' : 'eye-off-outline'"
                  class="iconInputs"
                  (click)="show2 = !show2"
                ></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="this.fmNewPassword.controls.c_password.value != this.fmNewPassword.controls.password.value && this.fmNewPassword.controls.c_password.value.length > 0">
              <ion-col class="ion-no-padding ion-text-left">
                <ion-label class="textoErrores">*{{'PASSWORDDONOTMATCH' |translate}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="paddingParaBoton">
                <button
                  class="botonSetNewPassword"
                  [disabled]="!fmNewPassword.valid"
                  type="submit"
                >
                  {{'CONTINUENS' | translate}}
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
