.backColorMorado {
    background-color: #664bc4;
  }
  .tamanoGrid{
    height: 55%;
  }
  .paddinBot0 {
    padding-bottom: 0px;
  }
  .paddingCabecera {
    padding-top: 24px;
    padding-bottom: 8px;
  }
  .textocabecera {
    color: #ffffff;
    font-size: 100%;
  }
  .divIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .tamañoIMG {
      width: auto;
      height: 80%;
  }
  .gridFormularios{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
  }
  .backColorBlanco {
      background-color: #ffffff;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px ;
      border: 0px solid #ffffff;
  }
  .paddingDerechaIzquierdaSlide{
    padding-right: 15px;
    padding-left: 15px;
  }
  .labelInputs{
    font-size: 80%;
    color: #aaadaf;
  }
  .inputs{
    border: 1px solid #f0f4f7ce;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #f0f4f7ce;
    --placeholder-color:  #d8dcdf;
    --placeholder-opacity: 1;
    font-size: 80%;
  }
  .iconInputs{
    position: absolute;
    top: 18px;
    right: 15px;
    color: #aaadaf;
    z-index:2
  }
  .textoError{
    color: red;
    font-size: 80%;
    line-height: 0.8;
  }
  .paddingParaBoton{
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .botonSetNewPassword{
    border: 1px solid #664bc4;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #664bc4;
    color: #ffffff;
  }
  .textoErrores {
    font-size: 70%;
    color: red;
  }