.contenedor {
    padding: 40px;
}
.l-1 {
    color: #272626;
    font-weight: 400;
    font-size: 20px;
}
.l-2 {
    color: #272626;
    font-weight: 300;
    font-size: 18px;
}
.p-b-27 {
    padding-bottom: 27px;
}
.b-c {
    width: 208px;
    height: 52px;
    border-radius: 13px;
    background-color: #01ABE1;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}