.b-v {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #26B72B;
    color: #26B72B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.b-r {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #EC3759;
    color: #EC3759;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.i-r {
    width: 16px;
    height: 16px;
}
.l-s {
    font-size: 12px;
    font-weight: 300;
    color: #000;
}
.i-a {
    width: 8px;
    height: 4.6px;
}
