<div class="d-c">
  <div class="d-f">
    <div class="w-6">
      <ion-label class="label">{{'TOPEXPERTSP' | translate}}</ion-label>
    </div>
    <div class="w-6 t-e" (click)="profesionals()">
      <ion-label class="label-view">{{'VIEWALLP' | translate}}</ion-label>
    </div>
  </div>
</div>
<div class="d-c-2 ion-no-color-barra">
  <div class="d-s" *ngFor="let profesional of profesionalsTop | experts : palabra : 'profesional'" (click)="profesionalProfile(profesional.uuid)">
    <img [src]="profesional.main_image" class="img-p">
    <ion-label class="label-name">{{profesional.profesionalNAMEMAP}}</ion-label>
    <app-stars-valoration class="stars" [valoracion]="profesional.rating"></app-stars-valoration>
  </div>
</div>