.g-i-s {
    padding-top: 21.5px;
}
.c-i {
    max-width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i-s {
    width: 88px;
    height: 88px;
    border-radius: 44px;
    object-fit: cover;
}
.div-change {
    width: 88px;
    height: 88px;
    border-radius: 44px;
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
.pr {
    position: relative;
}
.d-i {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.l-n {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.l-t {
    font-size: 15px;
    font-weight: 300;
    color: #000;
}
.l-s {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.l-s-b {
    font-size: 15px;
    font-weight: bold;
    color: #2EBFEA;
}
.p-l {
    line-height: 0.8;
}
.l-s-b-m {
    font-size: 12px;
    font-weight: bold;
    color: #2EBFEA;
}