.d-c {
    margin: 20px 16px;
    margin-bottom: 0px;
}
.label {
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.d-c-2 {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    display: -webkit-box;
    padding-top: 30px;
    padding-bottom: 15px;
}
.d-s {
    width: 145px;
    height: 145px;
    border-radius: 15px !important;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #d3d3d3;
    position: relative;
}
.label-nombre {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}
.b-c {
  width: 40px;
  height: 40px;
  border-radius: 20px !important;
  background-color: #ffffff20;
  z-index: 1;
  top: 15px;
  left: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-c img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}