<ion-content>
  <div class="card">

    <div class="ion-text-center mt68">
      <label class="label1">RICOMPENSA ETIX</label>
    </div>
    <div class="ion-text-center mt30">
      <label class="label2">
        La percentuale di ricompensa che
        riconoscerai alla community Etix sugli
        acquisti effettuati presso la tua attività.
      </label>
    </div>
    <div class="ion-text-center mt30">
      <label class="label3"> 
        La percentuale del professionisti è fissa
        ma potrai aumentarla in futuro. Ricorda,
        più attraente sarà il tuo sconto, maggiore
        sarà il passaparola.
      </label>
    </div>

    <div class="ion-text-center mt25 mb47">
      <button class="b1" (click)="authorize(true)">OK</button>
    </div>

  </div>
</ion-content>