ion-content {
    --background: transparent;
}
.card {
    width: 95%;
    height: auto;
    border-radius: 25px;
    border: 1px solid #000;
    background-color: white;
    padding: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: auto;
}
.mt68 {
    margin-top: 68px;
}
.mb47 {
    margin-bottom: 47px;
}
.label1 {
    color: #2A2A2A;
    font-size: 20px;
    font-weight: bold;
}
.label2 {
    color: #2A2A2A;
    font-size: 18px;
    font-weight: 300;
}
.label3 {
    color: #2A2A2A;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.mt30 {
    margin-top: 30px;
}
.mt25 {
    margin-top: 25px;
}
.b1 {
    width: 160px;
    height: 53px;
    color: white;
    background-color: #F3A95F;
    border: 1px solid #F3A95F;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
}