.padding1 {
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
.col1 {
  max-width: 40%;
}
.img1 {
  width: 65%;
  height: auto;
}
.boton1 {
  height: 110px !important;
  width: 110px;
  border: 1px solid #3ec0e8;
  background-color: #3ec0e8;
  border-radius: 15px;
  font-size: 60%;
  color: white;
  line-height: 2;
}
.col2 {
  max-width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}
.label1 {
  font-size: 120%;
  color: #d8dcdf;
  font-weight: bold;
}
.label2 {
  font-size: 80%;
  color: #d8dcdf;
  font-weight: bold;
}
.label3 {
  font-size: 100%;
  color: #d8dcdf;
  font-weight: bold;
}
.padding2 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.label4 {
  font-size: 100%;
  color: #000;
  font-weight: bold;
}
.bordes {
  height: 50px;
  width: 100%;
  border: 1px solid #d8dcdf;
  border-radius: 10px;
  background-color: #fff !important;
}
.col3 {
  max-width: 75px;
}
.boton2 {
  height: 50px;
  width: 65px;
  border: 1px solid #664bc4;
  background-color: white;
  border-radius: 10px;
}
.img2 {
  width: 40px;
}
.col4 {
  max-width: 130px;
}
.nopadding1 {
  padding-left: 0px;
}
.botonReset {
  height: 50px;
  width: 100%;
  border: 1px solid rgb(238, 53, 90);
  background-color: rgb(238, 53, 90);
  color: #fff;
  border-radius: 10px;
}
.nopadding2 {
  padding-right: 0px;
}
.botonConfirm {
  height: 50px;
  width: 100%;
  border: 1px solid rgb(102, 74, 197);
  background-color: rgb(102, 74, 197);
  color: #fff;
  border-radius: 10px;
}
.botonConfirmF {
  height: 50px;
  width: 100%;
  border: 1px solid rgb(102, 74, 197);
  background-color: #fff;
  color: rgb(102, 74, 197);
  border-radius: 10px;
}
