.main-div {
    background: #000000; 
    width: 100%; 
    height: 100%; z-index: 999; 
    position: absolute; opacity: 0.5;   
}

.card-info {
    background: #FFFFFF;
    position: absolute;
    z-index: 9999;
    border-radius: 30px;
    width: 90%;
    top: 15%;
    padding: auto;
    left: 2.5%;
}

.text-title {
    font-size: 40px;
    color: #664BC4;
}

.dark-label {
    color: #2A2A2A;
    font-size: 18px;
}

.m-b-40 {
    margin-bottom: 40px;
}

ion-button {
    --border-radius: 10px;
    --background: #664BC4;
}

.btn-button ion-button {
    height: 42px;
    font-size: 20px;
}

.wth-90p {
    width: 40%;
}

.text-charter {
    color: #150DF0;
    text-decoration: underline #150DF0;
    font-size: 18px;
}











