.paddingTopToolbar{
    padding-top: 16px;
}
.textoForgot{
    color: black;
    font-weight: bold; 
    font-size: 130%;
}
.paddingTopBottomIMG{
    padding-top: 20%;
    padding-bottom: 20%;
}
.tamañoIMG{
    width: 40%;
    height: auto;
}
.anchoLineaTexto{
    line-height: 1.8;
}
.colorNegroTexto{
    color: black;
}
.inputs{
  border: 1px solid #f0f4f7ce;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: #f0f4f7ce;
  --placeholder-color:  #d8dcdf;
  --placeholder-opacity: 1;
  font-size: 80%;
}
.anchoBoton{
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
}
.botonEmail{
    border: 1px solid #664bc4;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #664bc4;
    color: #ffffff;
}