<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="paddingTopToolbar">
      <ion-buttons slot="start" mode="md">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="enviarCodigoAEmail()" [formGroup]="fmEmail">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-label class="textoForgot">{{'FORGOTYOURPASSWORDNF' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="paddingTopBottomIMG">
        <ion-col>
          <img src="assets/inicio/cambio-de-password/forgot.svg" class="tamañoIMG">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="anchoLineaTexto">
          <ion-label class="colorNegroTexto">{{'WEHAVESENTNF' | translate}}</ion-label>
          <ion-input class="ion-padding inputs" placeholder="{{'ENTEREMAILNF' | translate}}" [formControl]="fmEmail.controls.email" name="email">
          </ion-input>
          <ion-label class="colorNegroTexto">{{'CLICKONITNF' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="anchoBoton">
          <button class="botonEmail" [disabled]="!fmEmail.valid" type="submit">
            {{'GOTOEMAIL' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
