.separate {
    padding-bottom: 20%;
}
.imgTituloSlideIdioma{
    width: 70% !important;
    height: auto!important;
}
.separate-min {
    padding-bottom: 10%;
}
.title-idioma {
    text-align: center !important;
  font-size: 110%;
}
.botonLets{
  border: 1px solid #664bc4;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #664bc4;
  color: #ffffff;
}
.paddingParaBoton{
  padding-left: 10%;
  padding-right: 10%;
}
ion-list {
  background: #fff;
}
ion-toolbar {
  --background: #fff;
}
ion-item {
  color: #000;
  --background: #fff;
  --color-focused: #000;
}