ion-grid {
    padding: 0px;
    padding-top: 35px;
    padding-bottom: 20px;
}
ion-col {
    padding: 0px;
}
.starTrue {
    width: 17px;
    height: 17px;
    color: #F7BD0B;
}
.starFalse {
    width: 17px;
    height: 17px;
    color: grey;
}