.input-search {
    --padding-start: 20px;
    border-radius: 26px !important;
    border: 5px solid #1EC8FE;
    --background: white;
    --placeholder-font-style: italic;
    height: 41px;
}
.bnt-search {
    height: 43px;
    width: 43px;
    font-size: 20px;
    color: #FFFFFF;
    --border-radius: 21.5px;
    --background: #1EC8FE;
    --box-shadow: none;
    margin-top: 0px;
}