.label_uno {
  font-size: 15px;
  color: #d8dcdf;
}
.label_dos {
  font-size: 15px;
  color: #664bc4;
}
.label_tres {
  font-size: 15px;
}
.label_cuatro {
  font-size: 15px;
  font-weight: bold;
}
.boton_accept {
  height: 40px;
  width: 100%;
  border: 1px solid #3ec0e8;
  background-color: #3ec0e8;
  border-radius: 25px;
  color: white;
}
.boton_decline {
  height: 40px;
  width: 100%;
  border: 1px solid #fb1a16;
  background-color: #fb1a16;
  border-radius: 25px;
  color: white;
}
.label_cinco {
  font-size: 16px;
  color:red;
}
.label_seis {
  font-size: 16px;
  color:#3ec0e8;
}
.no_padding_top {
  padding-top: 0px;
}